@model IEnumerable<Phonelist.Models.PersonModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if (Model != null)
{
    <table class="table">
        <thead>
        <th>ID</th>
        <th>Imię i nazwisko</th>
        <th>Telefon</th>
        <th>Email</th>
        <th>Utworzono</th>
        <th>Aktualizacja</th>
        <th>Opcje</th>
        </thead>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.ID</td>
                <td>@person.FirstName @person.LastName</td>
                <td>@person.Phone</td>
                <td><a href="mailto:@person.Email">@person.Email</a></td>
                <td>@person.Created.ToString("yyyy-MM-dd HH:mm")</td>
                <td>
                    @if (person.Updated != null)
                    {
                        @person.Updated
                    }

                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Person" asp-route-id="@person.ID" class="btn btn-link" role="link">Edytuj</a> |
                    <a asp-action="Remove" asp-controller="Person" asp-route-id="@person.ID" class="btn btn-link" role="link">Usuń</a>
                </td>

            </tr>
        }
    </table>
    <div align="center">
        @for (int i = 1; i <= ViewBag.Pages; i++)
        {
            if (i == ViewBag.ActualPage)
            {
                 <strong>@i</strong> 
            }
            else
            {
                <a href="/@i" class="btn btn-link">@i </a>
            }

        }
    </div>
}
else
{
    <p>
        <strong>Brak danych.</strong>
    </p>
}