@model IEnumerable<Phonelist.Models.PersonModel>

@if (Model != null)
{
    <table class="table">
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Options</th>
        </thead>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.ID</td>
                <td>@person.FirstName @person.LastName</td>
                <td>@person.Phone</td>
                <td><a href="mailto:@person.Email">@person.Email</a></td>
                <td>@person.Created.ToString("yyyy-MM-dd HH:mm")</td>
                <td>
                    @if (person.Updated != null)
                    {
                        @person.Updated
                    }

            </td>
            <td>
                <a href="/Person/Edit/@person.ID" class="btn btn-link" role="link">Edytuj</a> |
                <a href="/Person/Remove/@person.ID" class="btn btn-link" role="link">Usuń</a>
            </td>

        </tr>
    }
    </table>
    <div align="center">
        @for (int i = 1; i <= ViewBag.Pages; i++)
        {
            if (i == ViewBag.ActualPage)
            {
                <strong>@i </strong>
            }
            else
            {
                <a href="/@i" class="btn btn-link">@i </a>
            }

        }
    </div>
}
else
{
    <p>
        <strong>Brak danych.</strong>
    </p>
}