@model Phonelist.Models.PersonModel

<div>
    <h3>Czy na pewno usunąć osobę?</h3>
    <form action="/Person/RemoveConfirmed" method="post">
        <table>
            <tr>
                <td>ID:</td>
                <td>
                    <input name ="id" type="text" value="@Model.ID" readonly="readonly" hidden="hidden"/>
                    @Model.ID
                </td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>@Model.FirstName @Model.LastName</td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Created:</td>
                <td>@Model.Created.ToString("yyyy-MM-dd HH:mm")</td>
            </tr>
            <tr>
                <td>Updated:</td>
                <td>
                    @if (Model.Updated != null)
                    {
                        @Model.Updated
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Usuń" class="btn btn-primary" />
                   
                </td>
                <td>
                    <a href="/" type="button" class="btn"> Wróć </a>
                </td>
            </tr>
        </table>
    </form>
</div>
