@model Phonelist.Models.PersonModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div>
    <h3>Czy na pewno usunąć osobę?</h3>
    <form asp-action="RemoveConfirmed" asp-controller="Person" method="post">
        <table>
            <tr>
                <td>ID:</td>
                <td>
                    @Model.ID
                    <input name="id" type="text" value="@Model.ID" readonly="readonly" hidden="hidden" />
                </td>
            </tr>
            <tr>
                <td>Osoba:</td>
                <td>@Model.FirstName @Model.LastName</td>
            </tr>
            <tr>
                <td>Telefon:</td>
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Utworzono:</td>
                <td>@Model.Created.ToString("yyyy-MM-dd HH:mm")</td>
            </tr>
            <tr>
                <td>Aktualizacja:</td>
                <td>
                    @if (Model.Updated != null)
                    {
                        @Model.Updated
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Usuń" class="btn btn-primary" />
                   
                </td>
                <td>
                    <a href="/" type="button" class="btn"> Wróć </a>
                </td>
            </tr>
        </table>
    </form>
</div>
